* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.background {
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 ); */
  /* height: 900px;
  width: 1440px; */

  display: flex;
  flex: 1;
  /* width: 100vw; */
  height:100vh;
  /* justify-content: center; */
  flex-direction: column;
}

.card-top h3 {
  text-align: center;
  margin-bottom: 30px;
}

.content {
  display: flex;  
  flex-wrap: wrap;
  /* background-color: aqua; */
  /* flex: 1; */
  justify-content:space-around;
  margin-top: 30px;
}

.img img {
  height:366px;
  width:366px;
  align-items: center;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content:center;
  /* margin-right: 100px; */
}

.card-register {
  width:680px;
  height: 733px;
  background: #C7D5E7;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 30px;
  /* margin-left: 100px; */
}

.card-top {
  display: flex;
  flex-direction:column;

}

.register-row {
  margin-bottom: 20px;
}

.register-row h6 {
  font-size: 18px;
  font-weight: 400;
  color: #373737;
}

.register-row input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #A19494;
  background-color:transparent;
  width: 100%;
  padding: 5px;
  padding-right: 70px;
  margin-top: 5px;
}

.card-register form .error-text{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.register-row textarea {
  outline: 0;
  border-width: 10 0 0 2px;
  border-color: #A19494;
  background-color:transparent;
  width: 100%;
  padding: 5px;
  padding-right: 10px;
  margin-top: 5px;
}

.register-row input:focus {
  border-color: green
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.7s 0.7s ease; 
  text-indent: -100%;
  opacity: 1;
}

.card-bottom {
  /* background-color:darkblue; */
  display: flex;
  flex-direction: column;
  /* max-width: 60%; */
  margin-top: 20px;
  align-items:center
}

.card-bottom button {
  width: 117px;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  background-color:#A9F187;
  font-family: 'Nunito', sans-serif;
  outline: none;
  margin-bottom: 8px;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
}

.card-bottom h4 {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.card-bottom h4 a {
  color: red;
}

